{% extends 'base.html.twig' %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block body %}

<div class="flex-col">
    <h2>{{ recipe.name }}</h2>
    <h3>Składniki:</h3>
    <ul class="list-disc">
    {% for ingredient in recipe.ingredients %}
        <li>{{ ingredient.type.name }} {{ ingredient.quantity }} {{ ingredient.type.quantityType }}</li>
    {% endfor %}
    </ul>
    <h3>Opis:</h3>
    <p>{{ recipe.description }}</p>

    <a href="/edit-recipe/{{ recipe.id }}">
        <button class="btn btn-accent">Edytuj</button>
    </a>
</div>
{% endblock %}
