{% extends 'base.html.twig' %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block body %}

<div class="flex-col">
    <h2>{{ recipe.name }}</h2>
    <h3>Składniki:</h3>
    <ul class="list-disc">
    {% for ingredient in recipe.ingredients %}
        <li>{{ ingredient.type.name }} {{ ingredient.quantity }} {{ ingredient.type.quantityType }}</li>
    {% endfor %}
    </ul>
    <h3>Opis:</h3>
    <p>{{ recipe.description }}</p>
    <div class="flex flex-row items-baseline flex-wrap space-x-4">
        <h3>Autor:</h3>
        <p>{{ recipe.author.username }}</p>
    </div>

    {% if is_author %}
        <a href="{{ path('edit_recipe', {id: recipe.id}) }}">
            <button class="btn btn-accent">Edytuj</button>
        </a>
    {% endif %}
</div>
{% endblock %}
