<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Przepisowo{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        {% endblock %}
    </head>
    <body>
    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a class="btn btn-ghost normal-case text-xl" href="/">Przepisowo</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li><a href="{{ path('all_recipes') }}">Wszystkie przepisy</a></li>
                <li><a href="{{ path('app_fridge') }}">Lodówka</a></li>
                <li>
                    <form action="{{ path('app_logout') }}" method="post">
                        <button type="submit">
                            <svg class="h-8 w-8 text-gray-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />  <path d="M7 12h14l-3 -3m0 6l3 -3" /></svg>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div class="prose container max-w-4xl mx-auto px-4">
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
